body {

  background: radial-gradient(circle, rgba(251,129,63,1) 0%, rgba(70,129,252,1) 100%);
    font-family: sans-serif;
  
    color:#333; /* Dark text for contrast */
   
    background-repeat: no-repeat;
  }
  
  header {
  
    background: radial-gradient(circle, rgba(179,63,251,1) 0%, rgba(72,70,252,1) 100%); /* Darker orange for header */color: white;
  
    padding: 1em;
  
    text-align: center;
  
  }
  
  #game-area, #results {padding: 20px;
  
    border: 2px solid #cc6600;
  
    border-radius: 10px;
  
    background-color: rgba(255,255,255,0.8); /* Slightly transparent white box */margin: 20px;
  
  }

  /*for the title under life game*/
  .title{
    text-align: center;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("imges/lifehero.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }
  /*to take you to the game */
  button {
  
    background-color:#ffcc99;padding: 10px 20px;
  
    border: none;
  
    border-radius: 5px;
  
    cursor: pointer;
  
  }
  .what-is{
    text-align: center;
      position: absolute; 
      top: 40%; 
      left: 40%; 

      font-size: 40px; 
      font-family: Arial, Helvetica, sans-serif; 
      background: linear-gradient(to right, #f32170, 
              #ff6b08, #cf23cf, #eedd44); 
      -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text; 
  } 

  

